.background {
    background-image: url('../assets/use_your_illusion.png');
    height: 100vh;
    width: 100vw;
}

.navigation-bar {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
